<html>
<head>
		<title>Disco - Discovery System</title>
<link rel="stylesheet" href="/style/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/style/blueprint/print.css" type="text/css" media="print"><!--[if lt IE 8]><link rel="stylesheet" href="/style/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <style>
    	input {
    		font-size: 24px;
    	}
    	pre { 
    		white-space: pre-wrap;  
    		float: left;
    	}
    	h4 {
    		float: left;
    	}
    	/*h3 {
    		float: left;
    	}*/

        form {
            padding-left: 10px;
            height: 60px;
        }

        #featureForm select {
            font-size: 32px;
        }
    	.itemComponent {
    		/*height: 100%;*/
    		/*max-height: 20px;*/
    		/*min-height: 20px;*/
    		/*min-width: 50px;*/
    		float: left;
    		/*padding: 5px;*/
    		padding-left: 5px;
    		/*padding-right: 5px;*/
            margin-top: 15px;
    	}

    	.item {
    		float: left;
    		height: 50px;
    		 /*border-right: 1px solid #000;*/
    		padding-bottom: 5px;
    		padding-top: 5px;
    	}

    	.odd {
    		border: 1px solid #ddd;
    		border-left: none;
    		border-right: none;

    	}
    	.subject {
    		/*width: 200px;*/
    		/*border-right: 1px solid #aaa;*/
    		color: #000;
    	}
    	.body {
    		width: 400px;
    		    		/*border-right: 1px solid #aaa;*/
    		    		color: #aaa;
    		overflow: hidden;
            margin-right: 15px;

    	}
    	.from {
    		width: 200px;
    		/*border-right: 1px solid #aaa;*/
                        overflow: hidden;
                        margin-right: 10px;

    	}

    	.sent {
    		width: 75px;
    	}

    	#search {
    		background-color: #eef;
            margin-bottom: 25px;
    	}

        .featureText{
            width: 200px;
        }
        .featueWeight{
            width: 200px;

        }
        .featureType{
                        width: 200px;
        }

        #explain {
            font-style: italic;
            /*color: #faa;*/
            /*padding: 5px;*/
            font-size: 1.2em;
            border-bottom: 1px solid #aaa;

        }

        #explain b {
                        color: #f00;
        }

        #count h2 {
            margin-bottom: 0;
        }
        .labelForm {
            margin-right: 20px;
            margin-top: 0;
        }

        .labelForm input {
            font-size: 12px;
            min-width: 70px;
            background-color: #eee;
            border: none;
        }

        #sidebar {
            margin-top: 60px;
        }
        #sidebar h3 {
            border-bottom: 1px solid #aaa;
            margin-bottom: 0;
        }
        #sidebar input {
            background-color: #eee;
            border:none;
            font-size: 8px;
        }
        #sidebar form{
            /*float:right;*/
            float:right;
            height: auto;
            padding:0;
            padding-right: 5px;
        }


        input.selectedLabel {
            background: #ef2;
        }

        #logo {
            margin-bottom:25px;
        }

        .relevant {
            margin-bottom: 20px;
        }

        #sidebarNavLinks a {
            text-decoration: none;
            /*display:inline;*/
            color: #fff;
            display:block;
            float:left;
            width: 50%;
            text-align: center;

        }

        #sidebarNavLinks {
            margin-bottom: 35px;
        }
       
        .releLink {
            background-color: #0f0;
        }

        .irreleLink {
            background-color: #f00;
        }
        .disabledLink {
            background-color: #aaa;
        }

        .deselected {
            background-color: #aaa;
        }

        .autoHeight {
            height: auto;
        }

        .emailFull {
            white-space: pre-wrap;
        }

        .relevant {
            background-color: #fee;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    function ready(){
        $(".emailToggle").click(function(e){
            element = $(e.target);
            console.log(element.css("overflow"));
            if(element.parent().css("overflow") == "visible" ){
                element.parent().css("overflow", "hidden");
            } else {
               element.css("overflow", "visible");
            }

         element.parent().css("overflow", "visible");
         element.parent().children(".emailToggle").toggle();
         element.parent().parent().toggleClass("autoHeight");

        
            return false;
        });

        $(".sidebarNavLink").click(function(e){
            link = $(e.target);
            $(".sidebarNavLink").addClass("disabledLink");
            link.removeClass("disabledLink");

            whichDiv = $("#" + link.attr('id').split("-")[0]);

            $(".sidebarList").hide();
            whichDiv.show();

            


            return false;
        })
    }

    document.addEventListener("DOMContentLoaded", ready, false);

    </script>
	</head>
	<body>
    <div class="container">
        <div id="nav" class="span-24">
            <div class="nav prepend-5 span-2">
                <a href="/">Messages</a>
            </div>
            <div class="nav span-2">
                <a href="/features">Features</a>
            </div>
        </div>
        <div id="logo" class="span-5 ">
            <img src="/images/logo.png" class="span-4" />
        </div>
        <%= yield %>
    </div>
    </body>
</html>

